doctype html
html
  head
    meta(charset='utf-8')
    title Login form
  body
    h1 Login
    form(action='/login', method='post')
      label(for='username') Username:
      input(type='text', id='username', name='username')
      br
      label(for='password') Password:
      input(type='password', id='password', name='password')
      br
      input(type='submit', value='Login')