<div class="container my-5">
  <h1 class="mb-4 text-center">Transfer File</h1>
  <form action="/upload" method="post">
    <div class="mb-3">
      <label for="peerid">Reciever Peer ID</label>
      <input type="text" class="form-control" id="recpeerid" name="recpeerid" required>
      <br>
      <label for="secretkey">Select Secret key</label>
      <input type="text" class="form-control" id="secretkey" name="secretkey" required>
      <br>
      <!-- <label for="folderLocation" class="form-label">Select File to Send</label>
        <input type="file" class="form-control" id="downloadpath" name="downloadpath" webkitdirectory directory required/>
        <br> -->
      <div class="row">
        <div class="col-md-3">
          <button id="directoryShow" type="button" class="btn btn-primary">Choose File</button>
        </div>
        <div class="col-md-9">
          <input type="text" class="form-control" id="finalpath" name="finalpath" readonly>
        </div>
      </div>
      <%- include('./directory.ejs') %>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</div>