<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Foundation Server</title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>Data Foundation Server - Current Activity</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/current">Current Activity</a></li>
        <li><a href="/history">History</a></li>
      </ul>
    </nav>
    <%= data %>
  </body>
</html> 